version: '1.0'
name: sinor

secrets:
  main_db-password:
    file: mysql/password.txt

volumes:
  cache_db-data: {}
  main_db-data: {}

networks:
  front-tier:
    external: true
  back-cache-tier:
    external: true
  back-main-tier:
    external: true

services:

  reverse_proxy:
    build: ./proxy
    ports: # https://docs.docker.com/compose/compose-file/05-services/#long-syntax-3
      - "80:80"
#      - target: 80
#        host_ip: 127.0.0.1
#        published: 8080
#        protocol: tcp
#        mode: host
#    depends_on:
#      cache_server:
#        condition: service_completed_successfully

  cache_server:
    hostname: cacheHost
    build: ./main
    ports:
      - "8000:8000"
    restart: no
    depends_on:
      main_db:
        condition: service_healthy

  cache_db:
    hostname: redisHost
    image: redis:latest
    expose:
      - 6379
    restart: no
    healthcheck: # https://stackoverflow.com/questions/67904609/how-do-you-perform-a-healthcheck-in-the-redis-docker-image
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5

  main_server:
    hostname: mainHost
    build: ./main
    ports:
      - "8080:8080"
    restart: no
    depends_on:
      main_db:
        condition: service_healthy

  main_db:
    hostname: mysqlHost
    image: mysql:8
    expose:
      - 3306
      - 33060
    restart: no
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "mysqlHost", "--silent" ]
      interval: 3s
      retries: 5
      start_period: 30s
    environment:
      - MYSQL_DATABASE=coupang
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/main_db-password
    secrets:
      - main_db-password
    volumes:
      - main_db-data:/var/lib/mysql

